.main {
    margin: 0 16px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
      width: 100%;
    }
  .row {
    height: 20px;
  }
  
  .row-noline {
    border-bottom-style: none;
  }
  
    .example-first-header-row th {
      border-bottom: none;
    }
    
    .example-second-header-row {
      font-style: italic;
    }
    
    .example-third-header-row {
      font-style:oblique;
    }
    
    .example-first-footer-row {
      font-weight: bold;
    }
    
    .example-second-footer-row td {
      font-style: italic;
    }
    